replicaCount: 3

image:
  repository: java-api-boilerplate
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: prod.java-api-boilerplate.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 512Mi

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "deploy"
  - name: ENVIRONMENT
    value: "prod"
  - name: MYSQL_URL
    value: "jdbc:mysql://mysql-service:3306/javaapiboilerplate"
  - name: MYSQL_USER
    valueFrom:
      secretKeyRef:
        name: mysql-secret
        key: username
  - name: MYSQL_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mysql-secret
        key: password
  - name: MYSQL_DRIVER
    value: "com.mysql.cj.jdbc.Driver"
  - name: JPA_PLATFORM
    value: "org.hibernate.dialect.MySQLDialect"
  - name: JWT_SECRET
    valueFrom:
      secretKeyRef:
        name: jwt-secret
        key: secret
  - name: JWT_EXPIRATION
    value: "86400000"
  - name: DATADOG_API_KEY
    valueFrom:
      secretKeyRef:
        name: datadog-secret
        key: api-key
  - name: DATADOG_APP_KEY
    valueFrom:
      secretKeyRef:
        name: datadog-secret
        key: app-key
